body{
    background-image: url(../images/bg.png);
    background-repeat: repeat;
}

/* Div principale */
#content {
    margin-top : 80px;
    margin-left: 6%;
    margin-right: 6%;
}

/* Jumbotron */
#jumbotron {
    text-align: center;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

/* Anneaux */
#anneau_1 {
    display: inline-block;
    transform: rotate(-20deg);
}
#anneau_2 {
    display: inline-block;
    transform: rotate(20deg);
    margin-left: -12px;
    clip-path: circle(44% at 49% 65%);
}

/* Navbar and tweaks */
a.anchor { 
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden;
}

/* Carousel */
#carousel-container{
    height: 500px !important;
    width: 50% !important;
    margin: 0 auto;
    margin-bottom: 40px;
}

#carousel-container div{
    height: 100% !important;
    width: 100% !important;
    border-radius: 1% !important;
}

img.carousel{
    margin: 0 auto;
    height: 100% !important;
    width: auto !important;
    border-radius: 1% !important;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

/* Menu */
#div-menu{
    padding: 10px;
    margin-top: 20px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

#info-menu{
    margin-top: 20px;
    margin-bottom: 40px;
}